<div class="container">
    <h2>Lazy Loading</h2>
   <div class="btn-group bg-secondary">
      <button type="button" class="btn btn-secondary"><a routerLink="admin">Admin</a></button>
      <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown">
      </button>
      <div class="dropdown-menu">
        <a class="dropdown-item" routerLink="/admin/dashboard">Dashboard</a>
        <a class="dropdown-item" routerLink="/admin/manage-users">Manage-users</a>
        <a class="dropdown-item" routerLink="/admin/manageproducts">Manage-products</a>
        <a class="dropdown-item" routerLink="/admin/settings">Settings</a>
      </div>
    </div>

    <div class="btn-group bg-secondary">
      <button type="button" class="btn bg-secondary"><a routerLink="company">Company</a></button>
      <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown">
      </button>
      <div class="dropdown-menu">
        <a class="dropdown-item" routerLink="/company/details">details</a>
        <a class="dropdown-item" routerLink="/company/productdetails">Product-Details</a>
        <a class="dropdown-item" routerLink="/company/sellerdetails">Seller-Details</a>
        <a class="dropdown-item" routerLink="/company/userdetails">User-Details</a>
      </div>
    </div>

    <div class="btn-group bg-secondary">
      <button type="button" class="btn bg-secondary"><a routerLink="product">Product</a></button>
      <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown">
      </button>
      <div class="dropdown-menu">
        <a class="dropdown-item" routerLink="/product/address">Address</a>
        <a class="dropdown-item" routerLink="/product/details">Details</a>
        <a class="dropdown-item" routerLink="/product/lifecycle">LifeCycle</a>
        <a class="dropdown-item" routerLink="/product/status">Status</a>
      </div>
    </div>

    <div class="btn-group bg-secondary">
      <button type="button" class="btn bg-secondary"><a routerLink="user">User</a></button>
      <button type="button" class="btn bg-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown">
      </button>
      <div class="dropdown-menu">
        <a class="dropdown-item" routerLink="cart">Link 1</a>
        <a class="dropdown-item" routerLink="favourits">Link 2</a>
        <a class="dropdown-item" routerLink="register">Link 2</a>
        <a class="dropdown-item" routerLink="search">Link 2</a>
      </div>
    </div>

    <router-outlet></router-outlet>
